  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
   <h1>About Wernher von Braun</h1> 
   <a href="/home">home</a>
   <p>Wernher Magnus Maximilian Freiherr von Braun (23 March 1912 – 16 June 1977) was a German-born American aerospace engineer and space architect.
      He was the leading figure in the development of rocket technology in Nazi Germany and a pioneer of rocket and space technology in the United States.
      While in his twenties and early thirties, von Braun worked in Nazi Germany's rocket development program. He helped design and develop the V-2 rocket at Peenemünde during World War II.
      Following the war he was secretly moved to the United States, along with about 1,600 other German scientists, engineers, and technicians, as part of Operation Paperclip.
      He worked for the United States Army on an intermediate-range ballistic missile program, and he developed the rockets that launched the United States' first space satellite Explorer 1.
      In 1960, his group was assimilated into NASA, where he served as director of the newly formed Marshall Space Flight Center and as the chief architect of the Saturn V super heavy-lift launch vehicle
      that propelled the Apollo spacecraft to the Moon. In 1967, von Braun was inducted into the National Academy of Engineering, and in 1975, he received the National Medal of Science. He advocated for a human mission to Mars.
    </p>
    <h2>A dark past</h2>
    <p>
        SS General Hans Kammler, who as an engineer had constructed several concentration camps, including Auschwitz, had a reputation for brutality and had originated the idea of using concentration camp prisoners as slave laborers in the rocket program. Arthur Rudolph, 
        chief engineer of the V-2 rocket factory at Peenemünde, endorsed this idea in April 1943 when a labor shortage developed. More people died building the V-2 rockets than were killed by it as a weapon. Von Braun admitted visiting the plant at Mittelwerk on many occasions, and called conditions at the plant "repulsive",
        but claimed never to have personally witnessed any deaths or beatings, although it had become clear to him by 1944 that deaths had occurred. He denied ever having visited the Mittelbau-Dora concentration camp itself, where 20,000 died from illness, beatings, hangings, and intolerable working conditions.
        Some prisoners claim von Braun engaged in brutal treatment or approved of it. Guy Morand, a French resistance fighter who was a prisoner in Dora, testified in 1995 that after an apparent sabotage attempt, von Braun ordered a prisoner to be flogged, while Robert Cazabonne, another French prisoner, 
        claimed von Braun stood by as prisoners were hanged by chains suspended by cranes. However, these accounts may have been a case of mistaken identity. Former Buchenwald inmate Adam Cabala claims that von Braun went to the concentration camp to pick slave laborers:
        ... also the German scientists led by Prof. Wernher von Braun were aware of everything daily. As they went along the corridors, they saw the exhaustion of the inmates, their arduous work and their pain. Not one single time did Prof. 
        Wernher von Braun protest against this cruelty during his frequent stays at Dora. Even the aspect of corpses did not touch him: On a small area near the ambulance shed, inmates tortured to death by slave labor and the terror of the overseers were piling up daily. But, Prof. Wernher von Braun passed them so close that he was almost touching the corpses.
        Von Braun later claimed that he was aware of the treatment of prisoners, but felt helpless to change the situation.
    </p>
</body>
</html>